* {
    margin: 0;
}

html {
    background-color: lightblue;
}

body {
    position: relative;
    overflow: hidden;
    background-color: lightblue;
    background-image: url('/static/images/hotel.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
p {
    padding: 2px 10px;
    font-size: 15px;
    font-family: 'Lato', Georgia, sans-serif;
    color: #666666;
}
h1 {
    color: #FFE4C4;
    font-family: 'Lobster';
    text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
    margin:0 auto;
    text-align: center;
}
h2 {
    color: #0404B4;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2, span {
    font-variant: small-caps;
    padding: 2px 16px;
}
.container {
    padding: 2px 16px;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap;
}

.box>* {
    flex: 1 1 160px;
}
.center-img{
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

/* Float the list items side by side */
ul.topnav li {
    float: left;
}

ul.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav a:hover {
    background-color: #111;
}
#block-footer {
    float:left;
    clear:both;
    width:100%;
}
#block-footer a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
#block-footer a:hover {
    color: #CABE96;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.admin_panel {
    margin: 0 auto;
    width: 50%,
    height: 00%;
    background-color: #fffaf4;
    border: 1px solid #d6d6d6;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    transition: 0.3s;
}
.admin_panel:hover {
    box-shadow: 0.5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.fromBtn_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.btn {
    flex-grow: 2;
    justify-content: center;
    text-align: center;
    display: inline-block;
    width: 150px; /*button size*/
    margin: 2% 2% 2% 2%;
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}
.btn:hover {
    background-color: #355664;
    color: white;
    border: 2px solid #b3b3b3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}